#提示1：如果需要.htaccess作用生效，Apache配置文件中必须加载rewrite_module且httpd.conf中须将AllowOverride设为All。
#提示2：.htaccess对性能有降低，如果有权限配置httpd.conf，可尽量不使用.htaccess。

RewriteEngine on

#自定义错误页面
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html

#禁止访问日志、数据库等文件
<FilesMatch (.*)\.(log|sql|svn|txt)$>
order allow,deny
deny from all
</FilesMatch>

#禁止目录浏览
Options All -Indexes


#根据IP禁止用户访问
#order allow,deny
#deny from 123.45.6.7
#allow from all

#修改默认首页
#DirectoryIndex home.html